
.inputSection{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: transparent;
}

.inputSection input[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    color: blue;
    font-size: 25px;
}

body{
    background-image: url("https://images.pexels.com/photos/887349/pexels-photo-887349.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    color: #000000;
}
button{
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0px;
    border: none;
    cursor: pointer;
    /*width: 100%;*/
    opacity: 0.9;
    font-variant: small-caps;
    font-size: 30px;
}
.calculate{
    width:50%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border:2px solid white;

}

.reset{
    width: 25%;
    float: right;
    margin: 0 auto;
    border: 2px solid white;
}
h1{
    color: white;
    font-variant: small-caps;
    text-align: center;
}
.heading_{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -250%);
    width: 50%;
    padding: 10px;
    border-radius: 5px;
    background-color: transparent;
}

.resultDiv{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 180%);
    width: 50%;
    padding: 10px;
    border-radius: 5px;
    background-color: transparent;
}
h2{
    color: white;
    font-variant: small-caps;
    text-align: center;
}

/*For small screens*/
@media screen and (max-width: 700px) {
    .inputSection input[type=text]{
        margin: 0;
    }
    button{
        padding: 0;
        margin: 0;
    }
    .inputSection {
        width: 80%;
        /*border: none;*/
    }


    .calculate, .reset {

        width: 100%;
        margin: 8px 0;
    }

    .reset {
        float: none;
    }
    .heading_{
        margin-top: 10%;
    }
    body{
        background-position: 65%;
    }
}
